* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(images/cambg_5.jpg);
  color: #fff;
}
h1 {
  text-align: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}
#first-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}
#search {
  display: inline-block;
  width: 450px;
  border: 1px solid black;
  border-right: none;
  border-radius: 8px 0 0 8px;
  background-color: rgba(223, 223, 223, 0.9);
}
#search:focus {
  outline: none;
}
#searchBtn {
  border-radius: 0 8px 8px 0;
}
.single-result {
  background-color: rgba(138, 136, 136, 0.3);
}
footer {
  font-size: small;
  text-align: center;
}
